[submodule "vendor/magit"]
	path = vendor/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "vendor/smex"]
	path = vendor/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "vendor/emacs_chrome"]
	path = vendor/emacs_chrome
	url = git://github.com/stsquad/emacs_chrome.git
[submodule "vendor/inf-ruby-bond"]
	path = vendor/inf-ruby-bond
	url = git://github.com/pd/inf-ruby-bond
