*.swp
*.elc

emacs.d/.crap
emacs.d/auto-save-list
emacs.d/elpa
emacs.d/emacs-visited-files
emacs.d/backups
emacs.d/places
emacs.d/erc-super-secret.el
emacs.d/smex.save
emacs.d/tramp
emacs.d/url

bin/xmonad
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad-i386-linux
xmonad/xmonad-x86_64-linux
xmonad/history
xmonad/*/*.o
xmonad/*/*.hi

vim-tmp/*
vim/.netrwhist
vim/bundle
