*.swp
*.elc
.envrc

emacs.d/.cask
emacs.d/.crap
emacs.d/.extension
emacs.d/.lsp-session-v1
emacs.d/async-bytecomp.log
emacs.d/auto-save-list
emacs.d/backups
emacs.d/eln-cache
emacs.d/elpa
emacs.d/emacs-visited-files
emacs.d/erc-super-secret.el
emacs.d/places
emacs.d/quelpa
emacs.d/network-security.data
emacs.d/smex.save
emacs.d/store/projectile-bookmarks.eld
emacs.d/store/projectile.cache
emacs.d/tramp
emacs.d/transient
emacs.d/url

bin/xmonad
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad-i386-linux
xmonad/xmonad-x86_64-linux
xmonad/history
xmonad/*/*.o
xmonad/*/*.hi

vim-tmp/*
vim/.netrwhist
vim/bundle
