#!/usr/local/plan9/bin/rc
# vim:ft=conf:

# Key bindings {{{1
fn Key-$MODKEY2-n { mpc next }
fn Key-$MODKEY2-b { mpc prev }
fn Key-$MODKEY2-s { mpc stop }
fn Key-$MODKEY2-p { mpc toggle }
fn Key-$MODKEY2-r { mpc random }
fn Key-$MODKEY2-KP_Add      { mixer pcm +5:+5 }
fn Key-$MODKEY2-KP_Subtract { mixer pcm -5:-5 }

# Action {{{1
fn Action-mp3 {
	if (~ $1 off) {
		wmiir xwrite /event Stop mpdbar
	}
	if not {
		run_command $home/.wmii-3.5/mpdbar &
	}
}
fn Action-playlist {
	choice=`{mpc playlist | wmiimenu}
	if (test -n $choice)
		mpc play `{echo $choice|sed 's/^#([0-9]+)\).*/\1/'}
}
