#!/usr/local/plan9/bin/rc

# Key bindings {{{1
fn Key-$MODKEY2-n { mpc next >/dev/null }
fn Key-$MODKEY2-b { mpc prev >/dev/null }
fn Key-$MODKEY2-s { mpc stop >/dev/null }
fn Key-$MODKEY2-p { mpc toggle >/dev/null }
fn Key-$MODKEY2-r { mpc random >/dev/null }
fn Key-$MODKEY2-KP_Add      { mixer pcm +5:+5 >/dev/null }
fn Key-$MODKEY2-KP_Subtract { mixer pcm -5:-5 >/dev/null }

# Action {{{1
fn Action-mp3 {
	if (~ $1 off) {
		wmiir xwrite /event Stop mpdbar
	}
	if not {
		run_command $home/.wmii-3.5/mpdbar &
	}
}
fn Action-playlist {
	choice=`{mpc playlist | wmiimenu}
	if (test -n $choice)
		mpc play `{echo $choice|sed 's/^#([0-9]+)\).*/\1/'}
}
