#!/usr/local/plan9/bin/rc

tagrules_file=$WMII_NS_DIR/tagrules.$pid

# Functions {{{1
fn replace_default_tagrules {
	rule=$1
	wmiir read /tagrules | 9 grep '^\/\.\*\/' > $tagrules_file
	{
		wmiir read /tagrules | 9 grep -v '^\/\.\*\/'
		echo $rule
	} | wmiir write /tagrules
}

fn restore_default_tagrules {
	{
		wmiir read /tagrules | 9 grep -v '^\/\.\*\/'
		cat $tagrules_file
	} | wmiir write /tagrules
}

fn queue_tag {
	replace_default_tagrules '/.*/ -> '^$1
}

fn next_tag {
	awk -v curtag'='`{wmiir read /tag/sel/ctl} '
		NR==1 {first = $0}
		$0==curtag { if(getline) print $0; else print first; exit }'
}

# Events {{{1
fn Event-CreateClient {
	if (test -f $tagrules_file) {
		restore_default_tagrules
		rm -f $tagrules_file
	}
}

# Actions {{{1
fn status { # include uptime in status {{{2
	echo -n `{uptime | sed 's/.*up/up/; s/,//g; s/load averages:/ | /'} '|' `{date}
}
fn Action-term { # open a terminal in 'dev' {{{2
	queue_tag dev
	run_command $WMII_TERM &
}
fn Action-vim { # {{{2
	run_command $WMII_TERM -e vim &
}
fn Action-irc { # {{{2
	queue_tag irc
	if (! ~ `{screen -ls|grep \.irc|wc -l} 0) {
		run_command $WMII_TERM -e screen -aAd -r irc &
	}
	if not {
		run_command $WMII_TERM -e screen -S irc irssi &
	}
}
fn Action-ff { # launch clipboard contents as url in ff {{{2
	run_command firefox `{sselp}
}
fn Action-links { # ^^ in links -g {{{2
	run_command links -g `{sselp}
}
fn Action-screenshot { # {{{2
	run_command xwd -root | xwdtopnm | pnmtopng >$home/ss.png
}

# Keybindings {{{1
for(i in `{seq 0 9}) { # navigate tags alphabetically {{{2
	fn Key-$MODKEY-$i {
		wmiir xwrite /ctl view `{wmiir ls /tag | egrep -v '^sel/' | sed -n `{echo $1 | sed 's/.*-//'}^p}
	}
	fn Key-$MODKEY2-$i {
		wmiir xwrite /ctl view `{echo $1 | sed 's/.*-//'}
	}
	fn Key-Shift-$MODKEY-$i {
		wmiir xwrite /client/sel/tags `{echo $1 | sed 's/.*-//'}
	}
}

fn Key-$MODKEY-n { # next tag {{{2
	wmiir xwrite /ctl view `{ read_tags | next_tag}
}
fn Key-$MODKEY-b { # prev tag {{{2
	wmiir xwrite /ctl view `{ read_tags | sort -r | next_tag}
}

fn Key-$MODKEY-Control-$LEFT  { wmiir xwrite /tag/sel/ctl swap sel left }
fn Key-$MODKEY-Control-$RIGHT { wmiir xwrite /tag/sel/ctl swap sel right }
fn Key-$MODKEY-Control-$UP    { wmiir xwrite /tag/sel/ctl swap sel up }
fn Key-$MODKEY-Control-$DOWN  { wmiir xwrite /tag/sel/ctl swap sel down }

fn Key-$MODKEY-Control-r { # retag all clients in view {{{2
	ctag=`{read_tags | wmiimenu}
	clients=`{wmiir read /tag/sel/index|awk '$0 !~ /^# / { print $2 }'}
	for (c in $clients)
		wmiir xwrite /client/$c/tags $ctag
}
